hr {
  border: 1px solid #000;
  margin-left: 3.5%;
  width: 93%;
}

.Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.Title.Text-Style-12 {
  margin-left: -7.5%;
}

.form-control {
  margin-left: -22%;
}

.add {
  border-radius: 3px;
  background-color: var(--azure);
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white-two);
  border: none;
  margin-left: 52%;
}

.Remove {
  border: none;
  background-color: transparent;
}
